@media screen and (min-width: 480px){
.footer { 
    background: $darkBackgorund;
    padding-top: 60px;
    padding-left: 15px;

    &__address {
      display: flex;
      gap: 70px;
   }

   &__social-media {
      display: block;
      margin-top: -18px; 
   }
   
   &__heading5 {
      font-size: 14px;
      font-weight: 700px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: $primaryColor;
   }
  
   &__list {
      display: flex;
      gap: 10px;
      padding-top: 20px;
   }
  
   &__svg {
      width: 44px;
      height: 44px;
      border: solid;
      border: none;
      border-radius: 50%;
      fill: $primaryColor;
      background: $backgroundColor;
      padding: 12px;
      display: flex;
   }
   
   &__svg:hover,
   &__svg:focus {
      background: $blue;
      transition: $typicalTransition;
   }
  
   &__newsletter {
      display: block;
      margin-top: -18px;
   }
  
   &__input {
      display: flex;
      gap: 12px;
      margin-top: 20px;
   }
  
   &__input--email {
      width: 358px;
      height: 50px;
      font-size: 1rem;
      line-height: 1.2;
      padding-left: 16px;
      background-color: $darkBackgorund;
      border-radius: 4px;
      border-color: $footerInputColor;
      outline: none;
   }
   
   &__input--email:hover,
   &__input--email:focus {
      border-color: $blue;
      transition: $blue;
      transition-duration: 250ms;
   }
  
   &__button {
      cursor: pointer;
      font-weight: 700px;
      font-size: 1rem;
      line-height: 1.8;
      letter-spacing: 0.06em;
      color: $primaryColor;
      background-color: $blue;
      text-align: left;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 4px;
      padding-top: -130px;
      
   }
  
   &__icon {
      position: relative;
      fill: $primaryColor;
      top: 32px;
      left: 140px;
      top: 8px;
   }
 
 .logo__white {
    color: $primaryColor;
 }

 .address {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 9px;

   &__contact:hover,
   &__contact:focus {
   color: $blue;
   transition: $typicalTransition;
}

 &__link,
 &__contact {
   font-size: 0.875rem;
   line-height: 1.7;
   letter-spacing: 0.03em;
   color: $primaryColor;
   text-decoration: none;
   transition: $typicalTransition;
}

&__contact {
   text-decoration: none;
   color: $primaryColor 60%;
}

&__link:hover,
&__link:focus {
   color: $blue;
   transition: $typicalTransition;
}
 }
}
}

@media screen and (max-width: 479px) {
   .footer { 
      background: $darkBackgorund;
      
     &__heading5 {
        font-size: 14px;
        font-weight: 700px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $primaryColor;
        padding-bottom: 20px;
     }
    
     &__list {
        width: 100%;
        display: flex;
        gap: 10px;
        padding-bottom: 60px;
        justify-content: center;
     }
    
     &__svg {
        width: 44px;
        height: 44px;
        border: solid;
        border: none;
        border-radius: 50%;
        fill: $primaryColor;
        background: $backgroundColor;
        padding: 12px;
        display: flex;
     }
     
     &__svg:hover,
     &__svg:focus {
        background: $blue;
        transition: $typicalTransition;
     }
    
     &__input {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
     }
    
     &__input--email {
        width: 100%;
        height: 50px;
        font-size: 1rem;
        line-height: 1.2;
        background-color: $darkBackgorund;
        border-radius: 4px;
        border-color: $footerInputColor;
        outline: none;
        margin-bottom: 20px;
        
     }
     
     &__input--email:hover,
     &__input--email:focus {
        border-color: $blue;
        transition: $blue;
        transition-duration: 250ms;
     }
    
     &__button {
        cursor: pointer;
        font-weight: 700px;
        font-size: 1rem;
        line-height: 1.8;
        letter-spacing: 0.06em;
        color: $primaryColor;
        background-color: $blue;
        padding-right: 80px;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 4px;
        margin-right: 0;
        margin-bottom: 60px;
     }
    
     &__icon {
        width: 24px;
        position: relative;
        fill: $primaryColor;
        width: 24px;
        bottom: 38px;
        left: 140px;
        top: 6px;

     }
   
   .logo__white {
      color: $primaryColor;
   }
}
   .address {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 60px;
      gap: 9px;

     &__contact:hover,
     &__contact:focus {
     color: $blue;
     transition: $typicalTransition;
  }
  
   &__link,
   &__contact {
     font-size: 0.875rem;
     line-height: 1.7;
     letter-spacing: 0.03em;
     color: $primaryColor;
     text-decoration: none;
     transition: $typicalTransition;
  }
  
  &__contact {
     text-decoration: none;
     color: $primaryColor 60%;
  }
  
  &__link:hover,
  &__link:focus {
     color: $blue;
     transition: $typicalTransition;
  }
}

.footer__logo {
    font-family: Raleway,sans-serif;
    font-weight: 700px;
    font-size: 1.625rem;
    line-height: 1.16;
    color: $blackColor;
    text-decoration: none;
    letter-spacing: 0.03em;


    &:hover,
    &:focus {
        color: var(--blue);
        transition: $typicalTransition;
    }
    &__blue {
        color: $blue;
    }
 }

 .footer__mobile {
   width: 100%;
   display: block;
   align-items: center;
   text-align: center;
   padding-top: 60px;
 }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
   .footer { 
      
      &__address {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 70px;
        padding-left: 70px;
     }
  
     &__social-media {
        display: flex;
        flex-direction: column;
        margin-top: -18px; 
        padding-left: 90px;
        text-align: center;
     }
     
     &__list {
        display: flex;
        gap: 10px;
        padding-top: 20px;
     }
    
     &__newsletter {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 60px;
        padding-right: 120px;
     }
    
     &__input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
        align-items: center;
     }

     &__input--email {
      width: 450px;
     }
     
   .address {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 60px;
      gap: 9px;
      text-align: center;
   }
  }
  .logo__footer {
   width: 100%;
   padding-left: 120px;
  }

  .footer__mobile {
   max-width: 800px;
  }
  }

  @media screen and (min-width: 480px) and (max-width: 766px) {
   .footer { 
      
      &__address {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 70px;
     }
  
     &__social-media {
        display: flex;
        flex-direction: column;
        text-align: center;
        
     }
     
     &__list {
        display: flex;
        gap: 10px;
        padding-top: 20px;
        padding-left: 120px;
     }
    
     &__newsletter {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 10px;
     }
    
     &__input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
        align-items: center;
     }

     &__input--email {
      width: 450px;
     }
     
   .address {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 60px;
      gap: 9px;
      text-align: center;
   }
  }
  .logo__footer {
   width: 100%;
   padding-left: 160px;
  }

  .footer__mobile {
   max-width: 100%;
  }
  }
  
