.heading1 {
    display: block;
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url(/goit-markup-hw-04/images/background/Img\ Overlay.png), url(/goit-markup-hw-04/images/background/peopleWorking.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    &__title {
      font-size: 2.75rem;
      font-weight: 900px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $primaryColor;
      text-transform: uppercase;
      padding-left: 252px;
      padding-right: 252px;
   }
  
   &__item {
      display: block;
      padding-bottom: 200px;
      padding-top: 30px;
   }
  
   &__button {
      cursor: pointer;
      font-weight: 700px;
      font-size: 1rem;
      line-height: 1.8;
      letter-spacing: 0.06em;
      color: $almostBlack;
      background: $dirtierWhite;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
      width: 200px;
      height: 50px;
      border: none;
   }
   
   &__button:hover,
   &__button:focus {
     color: $primaryColor;
     background: $blue;
     transition: $typicalTransition;
     }
 }

 @media screen and (max-width: 480px) {
   .heading1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      background-image: url(/goit-markup-hw-08/images/background/ImgOverlay.png), url(/goit-markup-hw-08/images/background/peopleWorkingMobile.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-top: 118px;
      padding-bottom: 40px;
   
   &__title {
      display: block;
      font-size: 15px;
      font-weight: 900px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $primaryColor;
      padding-bottom: 40px;
      padding-left: 70px;
      padding-right: 70px;
   }
   
   &__button {
      cursor: pointer;
      font-weight: 700px;
      font-size: 1rem;
      line-height: 1.8;
      letter-spacing: 0.06em;
      color: $almostBlack;
      background: $dirtierWhite;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
      width: 200px;
      height: 50px;
      border: none;
   }
 }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .heading1 {
    background-image: url(/goit-markup-hw-08/images/background/peopleWorkingMobile@2.jpg);
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
   .heading1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      background-image: url(/goit-markup-hw-08/images/background/ImgOverlay.png), url(/goit-markup-hw-08/images/background/peopleWorkingTablet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-top: 118px;
      padding-bottom: 40px;
   
   &__title {
      display: block;
      font-size: 15px;
      font-weight: 900px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $primaryColor;
      padding-bottom: 40px;
      padding-left: 260px;
      padding-right: 260px;
   }
 }
}

@media screen and (min-width: 481px) and (max-width: 766px) {
   .heading1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      background-image: url(/goit-markup-hw-08/images/background/ImgOverlay.png), url(/goit-markup-hw-08/images/background/peopleWorkingTablet.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding-top: 118px;
      padding-bottom: 40px;
   
   &__title {
      display: block;
      font-size: 15px;
      font-weight: 900px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $primaryColor;
      padding-bottom: 40px;
      padding-left: 180px;
      padding-right: 180px;
   }
 }
}