.services {
    margin-top: 94px;
    padding-top: 94px;

    .services__heading3 {
      font-weight: 700px;
      font-size: 2.25rem;
      line-height: 1.17;
      letter-spacing: 0.03em;
      color: $almostBlack;
      text-align: center;
   }
  
   .services__list {
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 94px;
      gap: 30px;
   }
  
   .services__description {
      display: flex;
      font-weight: 700px;
      color: $primaryColor;
      font-size: 0.875rem;
      line-height: 1.17rem;
      letter-spacing: 0.03em;
      justify-content: center;
      align-items: center;
      width: 370px;
      height: 70px;
      position: absolute;
      top: 224px;
      right: 0;
      margin: 0;
      background: $backgroundServicesColor;
   }
  
   .services__decoration {
      position: relative;
      overflow: hidden;
   }
 }